#minesweeper {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.tile {
  position: relative;
  float: left;
  height: 26px;
  width: 26px;
  outline: 1px solid black;
  background-color: lightgrey;
  border-style: outset;
  border-width: 2px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
